# Core
numpy >= 1.26
pandas >= 2.0

# Audio
librosa >= 0.10
soundfile >= 0.12
torchaudio >= 2.2

# Deep learning
torch >= 2.2

# Utilities
tqdm >= 4.66

# API server
fastapi >= 0.111
uvicorn[standard] >= 0.29
python-multipart >= 0.0.9

# Vocoder
transformers >= 4.40
scipy >= 1.12

# Visualisation
matplotlib >= 3.8
